<html>
<head>
    <title>Add chess school</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h2>Register chess school:</h2>
        <div class="row">
            <form id="addChessSchool" class=""col s10 method="post" action="addchessschool">
                <input type="text" id="addChessSchool" name="chessSchoolName" aria-describedby="chess school"
                       placeholder="Type school title" required/>
                <button form="addChessSchool" class="btn waves-effect waves-light col s2" type="submit">
                    <i class="material-icons right">Add</i>
                </button>
            </form>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>