<h2>Register new chess school:</h2>

<div class="row">
    <form id="addChessSchool" class="col s8" method="post" action="chessschools">
        <input type="text" id="addChessSchool" name="chessSchoolName" aria-describedby="chess school"
               placeholder="Type school title" required/>
    </form>
    <button form="addChessSchool" class="btn waves-effect waves-light col s2" type="submit">
        <i class="material-icons center">ADD</i>
    </button>
</div>

