<html>
<head>
    <title>List of chess schools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>
        h2 {
            /*display: block; */
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        {{> navbar}}
        <br>
        {{> addchessschoolform}}
        {{#newChessSchools}}
            <span class="green-text">Chess school <b>{{name}}</b> successfully registered!</span>
        {{/newChessSchools}}
        {{#oldChessSchools}}
            <span class="red-text">Chess school <b>{{name}}</b> not registered, maybe it already exist</span>
        {{/oldChessSchools}}
        <br>
        <h2>Registered chess schools:</h2>
        <div class="row">
            <table class="highlight col s8 offset-s1">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Chess school title</th>
                </tr>
                </thead>

                <tbody>
                {{#chessschools}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{name}}</td>
                        <td>
                            <a href="/delchessschool/{{id}}">Delete chess school</a>
                        </td>
                    </tr>
                {{/chessschools}}
                {{^chessschools}}
                    <span class="offset-s3">No one school is registered yet</span>
                    <br>
                {{/chessschools}}
                </tbody>
            </table>
        </div>
    </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>