<html>
<head>
    <title>Elo Rating App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Player's Rating</h2>
    <p>{{playerslist}}</p>
</body>
</html>