<nav>
    <div class="nav-wrapper teal accent-4">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="players">Players</a></li>
            <li><a href="chessschools">Chess Schools</a></li>
            <li><a href="bestratingchanges">Best rating changes</a></li>
        </ul>
    </div>
</nav>